body {
    background-color: #94885A;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter',sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #635B3C;
    width: 100%;
    color: white;
}

nav .left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

nav .left img {
    width: 50px;
    height: 50px;
}

nav .right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav .right img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* add checklist */

.addcheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 81.5%;
    margin-left: 35px;
    
}

.addcheck input {
    width: 642px;
    height: 68px;
    border-radius: 5px;
    border: 1px solid #00000015;
    padding-left: 15px;
    font-size: 24px;
}

.addcheck section input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00000015;
    padding-left: 15px;
    font-size: 12px;
}

.addcheck button {
    background-color: #23ED2B;
    border: 1px solid #4B4B4B;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 100px;
    align-self: center;
    cursor: pointer;
    
}

/* end of checklist */

.checklist{
    background-color: white;
    width: 707px;
    height: 426px;
    border-radius: 5px;
}

.checklist section h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0 0 35px;
}

.checklist section p {
    font-size: 14px;
    font-weight: bold;
    padding-left: 35px;
    margin-top: -32.5px;
}

.list {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
    padding-left: 35px;
    margin-top: -30px;
}

.list button {
    width: 605px;
    height: 37px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
}

input[type="file"]{
    display: none;
}

label {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: none;
}

.logout {
    margin-top: 2rem;
    height: 28px;
    width: 158px;
    color: white;
    text-align: center;
    background-color: red;
    font-size: 16px;
    border: 1px solid #4B4B4B;
    font-weight: bold;
    border-radius: 5px;
}

.logout:hover {
    cursor: pointer;
}

.checkfor {
    display: flex;
    align-items: center;
}

.checkfor label {
    margin-left: 2px;
}

@media only screen and (max-width: 744px) {

    .checklist{     
       width: 403px;
       margin: auto;
       height: 350px;
       border-radius: 5px;
   }
   
   .logout {
       margin-left: 1.75rem;
   }
   
   .addcheck section:last-child {
       display: flex;
       justify-content: center;
       width: 100%;
   }
   
   .addcheck button {
       border: 1px solid #4B4B4B;
       font-size: 16px;
       font-weight: bold;
       border-radius: 5px;
       padding: 5px 25px;
       align-self: center;
       cursor: pointer;
       margin-right: 5px;
       
   }
   
   .addcheck input[type="text"],input[type="date"] {
       width: 300px;
       height: 37px;
       border-radius: 5px;
       border: 1px solid #00000015;
       padding-left: 5px;
       font-size: 24px;
   }
   }