:root {
    --navbar : #635B3C;
    --main-bg : #94885A;
    --font : 'Inter','sans-serif';
    --btn-red : #E3083F;
}

body {
    background-color: var(--main-bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/* nav */

nav {
    color : white;
    display: flex;
    background-color: var(--navbar);
    justify-content: space-between;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .left img {
    height: 50px;
    width: 50px;
}

nav .right {
    display: flex;
    margin-right: 0.25rem;
    justify-content: center;
    align-items: center;
}




nav .right img {
    height: 30px;
    width: 30px;
}

nav .right p {
    margin-right: 0.5rem;
}

/* end of navbar */

/* checksheets */

.make-checksheet {
    display: flex;
    flex-direction: column;
    align-items: start;
    width : 55%;
    margin: auto;
    margin-top: 22px;
    height: 140vh;
}

.make-checksheet button {
    background-color: var(--btn-red);
    color:white;
    border: 1px solid #4B4B4B;
    padding: 3px 40px;
    font-weight: bolder;
    border-radius: 5px;
    margin-bottom: 30px;

}




/* end of checksheets  */

/* checksheet */

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 55vh;
    border-radius: 9px;
}

.container .header {
    padding-left:25px;
    height: 30%;
    
}

.container .header h2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.container .header p {
    padding: 0;
    margin: 0;
}

.container input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}

.container .lists {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    font-weight: bold;
    justify-content: space-evenly;
    height: 100%;
}

.container .lists .check {
    display: flex;
    align-items: center;
}


input[type="checkbox"] {
    height: 25px;
    width: 25px;
}




input[type="file"]{
    display: none;
}

.container .action {
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}




.container button[type="submit"] {
    background-color: #6CD347;
    color: black;
    border: 1px solid #4B4B4B;
    padding: 15px 50px;
    font-weight: 800;
    font-size: 1.15rem;
}

.delete-btn {
    background-color: var(--btn-red) !important;
    color: white !important;
}






/* end of checksheet */

@media only screen and (max-width: 744px) {

    /* checksheets */

.make-checksheet {
    display: flex;
    flex-direction: column-reverse;
    align-items: normal;
    width :95%;
    margin: auto;
    margin-top: 22px;
    height: 80vh;
    
}

.make-checksheet button {
    background-color: var(--btn-red);
    color:white;
    border: 1px solid #4B4B4B;
    padding: 10px 50px;
    font-weight: bolder;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    font-weight: 800;
}




/* end of checksheets  */

/* checksheet */

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 50vh;
    border-radius: 9px;
}

.container .header {
    padding-left:25px;
    height: 30%;
    
}

.container .header h2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.container .header p {
    padding: 0;
    margin: 0;
}

.container input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}

.container .lists {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    font-weight: bold;
    justify-content: space-evenly;
    height: 100%;
}

.container .lists .check {
    display: flex;
    align-items: center;
}


input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

input[type="date"] {
    width: 95%;
}



input[type="file"]{
    display: none;
}

.container .action {
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}




.container button[type="submit"] {
    background-color: #6CD347;
    color: black;
    border: 1px solid #4B4B4B;
    padding: 15px 50px;
    font-weight: 800;
    font-size: 1.15rem;
}

.delete-btn {
    background-color: var(--btn-red) !important;
    color: white !important;
}






/* end of checksheet */


   }
@media only screen and (max-width: 425px) {

    /* checksheets */

.make-checksheet {
    display: flex;
    flex-direction: column-reverse;
    align-items: normal;
    width :95%;
    margin: auto;
    margin-top: 22px;
    height: 80vh;
    
}

.make-checksheet button {
    background-color: var(--btn-red);
    color:white;
    border: 1px solid #4B4B4B;
    padding: 10px 50px;
    font-weight: bolder;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    font-weight: 800;
}




/* end of checksheets  */

/* checksheet */

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 50vh;
    border-radius: 9px;
}

.container .header {
    padding-left:25px;
    height: 30%;
    
}

.container .header h2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.container .header p {
    padding: 0;
    margin: 0;
}

.container input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}

.container .lists {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    font-weight: bold;
    justify-content: space-evenly;
    height: 100%;
}

.container .lists .check {
    display: flex;
    align-items: center;
}


input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

input[type="date"] {
    width: 95%;
}



input[type="file"]{
    display: none;
}

.container .action {
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}




.container button[type="submit"] {
    background-color: #6CD347;
    color: black;
    border: 1px solid #4B4B4B;
    padding: 10px 50px;
    font-weight: 800;
    font-size: 1rem;
}

.delete-btn {
    background-color: var(--btn-red) !important;
    color: white !important;
}






/* end of checksheet */


   }