<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checksheet List Sign Up</title>
    <link rel="stylesheet" href="../css/sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<body>
    <header>
        <img src="../img/logo.png" alt="">
        <h1>CHECKSHEET LIST</h1>
    </header>
    <section class="login">
        <h3>SIGN UP</h3>
        <label for="username">Username </label>
        <input type="text" name="username" id="username">
        <label for="password">Password </label>
        <input type="password" name="password" id="password">
        <label for="confirm">Confirm Password </label>
        <input type="password" name="confirm" id="confirm">
        <button type="submit">LOGIN</button>
    </section>
    <footer>
        Created By Seng Lie
    </footer>
</body>
</html>