<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Awal</title>
    <link rel="stylesheet" href="../css/validasi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<body>
    <nav>
        <section class="left">
            <img src="../img/logo.png" alt="">
            <h3>CHECKSHEET LIST</h3>
        </section>
        <section class="right">
            <p>User</p>
            <img src="../img//account-circle.png" alt="">
        </section>
    </nav>
    <section class="index">
        <button class="logout">LOGOUT</button>
        <section class="checklist">
            <section>
                <h1>VALIDASI DOKUMEN</h1>
                <p>24 Agustus 2023</p>
            </section>
            <section class="validasi">         
                <a href="/img/logo.png">Test.png</a>        
                <section>
                    <button type="submit">TIDAK VALID</button>
                    <button type="submit">VALID</button>
                </section>
            </section>
            
        </section>
</body>
</html>